<h2>Submitted Data</h2>

<h3>Basic Info</h3>
<ul>
  <li>Name: {{data.basic.name}}</li>
  <li>Age: {{data.basic.age}}</li>
</ul>

<h3>Contact Info</h3>
<ul>
  <li>Email: {{data.contact.email}}</li>
  <li>Phone: {{data.contact.phone}}</li>
</ul>

<h3>Preferences</h3>
<ul>
  <li>Favorite Color: {{data.preferences.color}}</li>
  <li>Hobby: {{data.preferences.hobby}}</li>
</ul>
